{{ with $file := .Get 0 }}
{{ with resources.Get $file }}
{{ with . | transform.Unmarshal }}
{{ $days := .days }}
{{ range $wk := .weeks }}
<li>
    <h2>{{ .start }}</h2>

    <ol
            id="calendar-days"
            class="days-grid"
    >
        {{ range $day := $days }}
        {{ $target := index $wk $day  }}

        {{if isset $target "special" }}
        <li class="calendar-day {{$target.special}}">
        {{else}}
        <li class="calendar-day">
        {{end}}
            <h4>{{$day}}</h4>
            <ul class="class-day">
                {{if isset $target "due" }}
                    {{$due := $target.due }}
                    {{ if $target.due }}
                        {{ range $target.due }}
                            <li class="class-day due">
                            Due: {{ . }}
                            </li>
                        {{end}}
                    {{ end }}
                {{ end }}

                {{if isset $target "class" }}
                    {{ range $target.class }}
                        <li class="class-day">
                        {{ . }}
                        </li>
                {{ end }}
                {{ end }}

            </ul>
        </li>

        {{ end }}

    </ol>
</li>
{{ end }}
{{ end }}
{{ end }}
{{ end }}


